$color-text: #555;
$color-text-gray: #999;
$color-background: #F3F3F3;
$color-white: #FFFFFF;
$color-border-gray: #e8e8e8;
$color-blue: #428BCA;

$space-xsm: 5px;
$space-sm: 10px;
$space-md: 15px;
$space-lg: 20px;
$space-xlg: 25px;

$radius-sm: 5px;

$break-small: 480px;
$break-medium: 720px;
$break-large: 1024px;
